{% extends 'base.html' %}

{% block content %}
<section id="loginpage">
    <form action="{{ url_for('auth.login') }}" method="POST" novalidate> 
        {{ form.hidden_tag() }}
        <div class="leg"><legend class="border-bottom mb-4"> Log In </legend></div>
        <div class="row mb-4">
          {{ form.username.label(class="col-sm-3 col-form-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            <div class="col-sm-8">
              {{ form.username(class="form-control") }}
            </div>
          {% endif %}
        </div>
        <div class="row mb-4">
          {{ form.password.label(class="col-sm-3 col-form-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
          <div class="col-sm-8">
              {{ form.password(class="form-control") }}
          </div>
          {% endif %}
        </div>
        {{ form.submit(class="btn btn-outline-dark") }}<br/><br/>
        <a href="{{ url_for('auth.register') }}" class="btn btn-outline-dark" tabindex="-1" role="button" >Click to register</a>
      </form>
</section>
{% endblock %}

