{% extends 'base.html' %}

{% block content %}
<section id="addbook">
    <form action="" method="POST" enctype="multipart/form-data" novalidate> 
        {{ form.hidden_tag() }}
        <div class="leg"><legend class="border-bottom mb-4"> Add a book </legend></div>
        <div class="row mb-4">
          {{ form.title.label(class="col-sm-3 col-form-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.title.errors %}
                  <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            <div class="col-sm-8">
              {{ form.title(class="form-control") }}
            </div>
          {% endif %}
        </div>
        <div class="row mb-4">
          {{ form.author.label(class="col-sm-3 col-form-label") }}
          {% if form.author.errors %}
            {{ form.author(class="form-control is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.author.errors %}
                  <span style="color: red;">{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
              <div class="col-sm-8">
                {{ form.author(class="form-control") }}
              </div>
          {% endif %}
        </div>
        <div class="row mb-4">
            {{ form.synopsis.label(class="col-sm-3 col-form-label") }}
            {% if form.synopsis.errors %}
              {{ form.synopsis(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.synopsis.errors %}
                    <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-8" id="editor">
                    {{ form.synopsis(class="form-control") }}
                </div>
            {% endif %}
        </div>
        <div class="row mb-4">
            {{ form.year_of_publish.label(class="col-sm-3 col-form-label") }}
            {% if form.year_of_publish.errors %}
              {{ form.year_of_publish(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.year_of_publish.errors %}
                    <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-8">
                  {{ form.year_of_publish(class="form-control") }}
                </div>
            {% endif %}
        </div>
        <div class="row mb-4">
            {{ form.image.label(class="col-sm-3 col-form-label") }}
            {% if form.image.errors %}
              {{ form.image(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.image.errors %}
                    <span style="color: red;">{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
                <div class="col-sm-8">
                  {{ form.image(class="form-control-file") }}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-outline-dark") }}
      </form>
</section>
{% endblock %}