/** global selectors **/
body{
    font-family: 'Poppins', sans-serif;
}

/** index page selectors **/
#mysearch{
    margin-top: 30px;
    margin-bottom: 30px;
}
#col1{
    background-color: blueviolet;
    height: 200;
}

/** login page selectors **/
#loginpage{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.leg{
    text-align: center;
}

/** 404 error page selectors **/
#error404{
    margin-top: 20px;
}

/** 500 error page selectors **/
#error500{
    margin-top: 20px;
}

/** add_book form selectors **/
#addbook{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}